.container {
  border: 5px solid #fff;
  border-radius: 5px;
  padding: 0px;
  box-shadow: 5px 5px 10px #000;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 600px;
}

.title {
  background-image: url("../images/azka.jpg");
  background-size: cover;
  color: #fff;
  text-shadow: 2px 2px #44f;
  text-align: center;
  padding-top: 300px;
  font-style: italic;
  font-weight: bold;
  font-family: cursive;
}

.introduction {
  background: linear-gradient(50deg, #00bfff, #0040ff);
  text-align: center;
  position: relative;
  padding: 20px;
}

.poems {
  height: 650px;
}

.quotes {
  background: linear-gradient(50deg, #a1a7af, #4a4d51);
  text-align: center;
  padding: 20px;
  position: relative;
}

.poems .carousel-control {
  height: 640px;
}

.photos {
  background-color: #ccc;
}

.photos pre {
  height: 590px;
  font-size: 20px;
}

.photos .carousel-control {
  height: 590px;
}

.moon {
  background-color: #000;
}

h3 {
  color: #fff;
  font-style: italic;
  text-align: center;
}

.fireworks {
  background-color: #000;
}

.poems pre {
  height: 640px;
  font-size: 20px;
}

p {
  color: #000;
  line-height: 50px;
  margin-top: 150px;
  font-size: 20px;
  font-weight: bold;
}

#quotes {
  padding: 50px;
}

.btn {
  border-radius: 10px;
  background-color: white;
  border: 1px solid #aaf;
  box-shadow: 2px 2px 1px #00f;
}

#prev-btn {
  position: absolute;
  top: 550px;
  left: 10px;
}

#next-btn {
  position: absolute;
  top: 550px;
  right: 10px;
}


#background {
  position: fixed;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
}
